

body{
    font-family: Arial, sans-serif;
    background: url("./images/sky_tile.gif");
    width: fit-content;
}

h1{

}

h2{
    font-size: 1.17em;
}

marquee{
    font-face: "Times New Roman", sans-serif;
    color: blue;
    background: white;
    width: fit-content;
}

table{
    border: 0;
    margin: 0 auto;
}

table img{
    display: block;
    margin: 0 auto;
}

tr:first-child{
    align: right;
}
